<!doctype html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">

</head>
<body>

<div ng-app="myApp" ng-controller="myController">
    <div ng-repeat="movie in movies">
		<my-movie title="{{movie}}">
			Movie Title :  
		</my-movie>
    </div>
</div>

<script src="js/lib/angular.min.js"></script>
<script src="js/controllers/script.js"></script>
</body>
</html>