<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
<div ng-app="myApp" ng-controller="Ctrl">
    <span>Time (in ms): {{timeInMs}}</span>
  <button ng-click="resetTimer()">Reset</button>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
</body>
</html>
<script>
var myApp = angular.module('myApp', []);

myApp.controller('Ctrl', ['$scope', '$timeout', 'baseTime', 'endTime', function($scope, $timeout, baseTime, endTime) {
    $scope.timeInMs = baseTime;
  
    var countUp = function() {
        $scope.timeInMs+= 500;
        if ($scope.timeInMs < endTime) {
        $timeout(countUp, 500);
        }
    }
    
    $timeout(countUp, 500);
  
    $scope.resetTimer = function() {
      $scope.timeInMs = baseTime;
      $timeout(countUp, 500);
    }
}]);

myApp.factory('baseTime', function() {

  // factory function body that constructs shinyNewServiceInstance
  return 1000;
});

myApp.factory('endTime', function() {

  // factory function body that constructs shinyNewServiceInstance
  return 5000;
});
</script>